@font-face {
    font-family: Consola;
    src: url("/fonts/Consola/ConsolaMono-Book.ttf");
    font-weight: normal;
}

@font-face {
    font-family: Consola;
    src: url("/fonts/Consola/ConsolaMono-Bold.ttf");
    font-weight: bold;
}

html {
    font-size: 18px;
}

body, button, input, select, option, textarea {
    font-family: Consola;
}

html, body, #app {
    height: 100dvh;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

#app {
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--bg1);
    padding: 1rem;
}

main {
    flex-grow: 1;
    overflow: auto;
    border-left: 1rem solid var(--bg1);
    border-right: 1rem solid var(--bg1);
    padding: 1rem;
}

footer {
    min-height: 1rem;
    background-color: var(--bg1);
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    color: var(--hl);
    animation: a-flicker 1s infinite step-end;

    &.no-flicker {
        animation: none !important;
    }

    &:hover {
        animation: none;
    }
}

@keyframes a-flicker {
    0% {
        color: var(--hl);
    }
    50% {
        color: var(--hl2);
    }
    100% {
        color: var(--hl);
    }
}

button {
    cursor: pointer;
    background-color: transparent;
    color: var(--hl);
    border: 2px outset var(--hl);
    font-size: 1em;
    padding: .25em .75em;

    animation: button-flicker 1s infinite step-start;

    &.no-flicker {
        animation: none !important;
    }

    &:hover {
        color: var(--hc1);
        border-color: var(--hc1);
        animation: none;
    }

    &:active {
        color: var(--comp);
        border-color: var(--comp);
        border-style: inset;
        animation: none;
    }

    &:disabled {
        opacity: 0.5;
        filter: grayscale(1);
        cursor: not-allowed;
        animation: none;
    }
}

@keyframes button-flicker {
    0% {
        border-color: var(--hl);
        color: var(--hl);
    }
    50% {
        border-color: var(--hl2);
        color: var(--hl2);
    }
    100% {
        border-color: var(--hl);
        color: var(--hl);
    }
}


table {
    border-collapse: collapse;

    & th {
        font-size: 1.1em;
    }

    & td {
        font-size: 0.8em;
    }

    & th, td {
        border: 1px solid var(--fgo30);
        padding: .5rem;
        text-align-last: left;
    }
}

input {
    background-color: var(--fgo20);
    border: 0;
    border-bottom: 2px dashed var(--fgo20);
    color: white;
    padding: .25em .75em;
    font-size: 1em;
}