.blog-markdown, .blog-markdown * {
    font-family: monospace !important;
}

.blog-markdown {

    & .time {
        color: aquamarine;
        font-weight: bold;
    }

    & h1, h2, h3, h4, h5, h6, p {
        margin-top: .75em;
        margin-bottom: .755em;
    }

    & p {
        text-align: justify;
    }
}

.wau-paragraph {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.wau-word {
    display: inline-flex;
    align-items: stretch;
}

img.wau {
    filter: invert(1);
}