<div id="about-inner">
    <img src="/images/standing.png" alt="dug the moose, standing">
    <p>
        i'm dug alcedo and i've been making weird electronic music since 2008. i'm a <span id="age"></span>-year-old autistic gay guy from california who lives in stockholm. i'm also a moose. i'm also a web developer and i love map-making, linguistics, and bird-watching but this website is mostly about my music.
    </p>
    
    <p>
        if you think i'm interesting and/or want to be my friend, you can <a href="#follow">follow me</a> on twitter or bluesky, or <a href="#contact">contact me</a> via email or discord. if you want to support me, you can <a href="#listen">buy my music</a> on bandcamp, or <a href="#contact">hire me</a> as a web developer or webdev tutor.
    </p>

    <p>
        my first interest in music was the pop countdowns on VH1 in the late 90s and early 00s, as well as music from video games on the N64 and gameboy color. when i was 9 i started listening to pop-punk and emo, then in middle school i got into indie rock. 
    </p>

    <p>
        in high school i became interested in more experimental and psychedelic stuff, and it was hearing bands like <b>black dice</b> and 
        <b>wolf eyes</b> that first inspired me to try making my own music at the age of 15. a couple years later, i discovered "idm" acts like <b>aphex twin</b> and <b>autechre</b> which awoke feelings of nostalgia for video game music and led me to realize i wanted to make music more in that style. around 2011-2012 i more or less discovered my own sound.
    </p>

    <p>
        i try to make music that is adventurous, melodic, emotional, catchy, moving, eerie, and textural. people often tell me that i'm good at creating interesting textures.
    </p>

    <p>
        my favorite bands/musicians are chris weisman, deerhoof, animal collective, stereolab, sonic youth, pilotredsun, tful282, my bloody valentine, and others...
    </p>

    <p>
        if you wanna get to know me more, like i said, just <a href="#follow">follow</a> me or <a href="#contact">contact</a> me. i'm always down to make new friends online, especially if they are into weird music and are open-minded and progressive. thanks for visiting my website.
    </p>
</div>