<table class="dug-table">
    <tr>
        <th>

        </th>
        <th>
            dug alcedo<br>(2019 - present)
        </th>
        <th>
            first dog<br>(2008 - 2018)
        </th>
    </tr>
    <tr>
        <td>
            bandcamp
        </td>
        <td>
            <a href="https://dugalcedo.bandcamp.com" target="_blank" rel="noopener noreferrer">link</a>
        </td>
        <td>
            <a href="https://firstdog.bandcamp.com" target="_blank" rel="noopener noreferrer">link</a>
        </td>
    </tr>
    <tr>
        <td>
            youtube music<br>
            (free with adblock)
        </td>
        <td>
            <a href="https://music.youtube.com/channel/UCKYYMyl_RCWkOTBXdsnoGGA" target="_blank" rel="noopener noreferrer">link</a>
        </td>
        <td>
            <a href="https://music.youtube.com/channel/UCoNi_H9riMSsTisrXs4b9cA" target="_blank" rel="noopener noreferrer">link</a>
        </td>
    </tr>
    <tr>
        <td>
            spotify
        </td>
        <td><a href="https://open.spotify.com/artist/62hpaz4iWc0V5FSMdRK6II" target="_blank" rel="noopener noreferrer">link</a></td>
        <td>
            <a href="https://open.spotify.com/artist/18LttbjOYmdcqacYfrFZTj" target="_blank" rel="noopener noreferrer">link</a>
        </td>
    </tr>
</table>
<br><br>
<p>
    i'm on other streaming platforms too. just search me.
</p>
<br><br>
<a href="#recs">recommendations</a>