#albums {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}

.dug {
    display: flex;
    background-color: var(--glass);
    cursor: pointer;
    opacity: 0.8;
    user-select: none;
}

.dug:hover {
    opacity: 1;
}

.dug_info {
    flex-grow: 1;
    padding: 1rem;
}

.dug_title-id {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
}

.dug_title {
    font-style: italic;
}

.dug_id {
    font-size: .67rem;
}

.dug_info_artist-date {
    display: flex;
    justify-content: space-between;
}

.dug_desc {
    font-size: .8rem;
    padding-top: .5rem;
}