@import url('./setup.css');
@import url('./header.css');
@import url('./dug.css');
@import url('./album-viewer.css');
@import url('./about.css');

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}