.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 10;
}

.modal {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    max-width: calc(100dvw - 2rem);
    background-color: var(--dug-dark);
    border: 1px solid var(--dug);
    z-index: 10;
}

.modal > h2 {
    text-align: center;
    padding-top: .5rem;
}

.x-btn {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px;
    border: 0;
    background-color: var(--dug);
    color: var(--dug-dark);
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.8;
}

.x-btn:hover {
    opacity: 1;
}

.modal-body {
    padding: 2rem;
}

.anni {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: .5rem 0;
}

.anni > span:first-child {
    font-style: italic;
}