.blog-markdown, .blog-markdown * {
    font-family: monospace !important;
}

.blog-markdown {

    & .time {
        margin: 1.5rem 0 -1rem 0;
        color: aquamarine;
        font-weight: bold;
    }

    & h1, h2, h3, h4, h5, h6, p {
        margin-top: .75em;
        margin-bottom: .755em;
    }

    & p {
        text-align: justify;
    }
}


.wau {
    display: flex;
    align-items: flex-end;
    --size: 24px;
    --space-size: 8px;
}

.non-wau-block {
    display: inline-flex;
    min-width: var(--space-size);
}

.wau-block {
    width: var(--size);
    height: var(--size);
    display: inline-flex;
    flex-direction: column;
    margin: 5px;

    & > * {
        min-height: 0;
        flex-grow: 1;
        flex-shrink: 1;
        display: block;
    }

    & img {
        filter: invert(1);
        width: 100%;
        height: 100%;
        image-rendering: pixelated;
        display: block;
    }
}

.wau-block_onset, .wau-block_coda {
    display: flex;
}